.logoz {
  margin-top: -20px;
}

.trabajos {
  padding-bottom: 30px;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.tratamiento {
  width: 40%;
}

.btn-border {
  color: #045299;
  background-color: rgba(4, 82, 153, 0);
  border: 1px solid #045299;
}
